<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Status | PeakD</title>
    <meta property="og:title" content="Status | PeakD" />
    <meta property="twitter:title" content="PeakD Status Page" />
    <meta name="description" content="Status of peakd.com and related services" />
    <meta name="twitter:description" content="Status of peakd.com and related services" />
    <meta property="og:image" content="/peakd_logo_compact_256.png" />
    <meta property="twitter:image" content="/peakd_logo_compact_256.png" />
    <meta name="twitter:card" content="summary" />
    <meta property=og:site_name content=PeakD>
    <meta property=twitter:site content=@PeakDcom>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet" type="text/css">
    <link href="styles.css" rel="stylesheet" type="text/css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://peakd.com/assets/favicons/apple-touch-icon.png?v=zXbxAzp8l3">
    <link rel="icon" type="image/png" sizes="32x32" href="https://peakd.com/assets/favicons/favicon-32x32.png?v=zXbxAzp8l3">
    <link rel="icon" type="image/png" sizes="16x16" href="https://peakd.com/assets/favicons/favicon-16x16.png?v=zXbxAzp8l3">
    <link rel="mask-icon" href="https://peakd.com/assets/favicons/safari-pinned-tab.svg?v=zXbxAzp8l3" color="#4b4e4f">
    <link rel="shortcut icon" href="https://peakd.com/assets/favicons/favicon.ico?v=zXbxAzp8l3">
    <meta name="theme-color" content="#263238">

    <script type="text/javascript" src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@hiveio/hive-js/dist/hive.min.js"></script>

    <style>

    </style>
  </head>
  <body>
    <div id="main">
      <div class="message spacer">
        <img width="400" src="/peakd_logo_white.svg" alt="PeakD">
        <div style="margin-top: 15px;">
          <h3>Current status of PeakD and the Hive Blockchain</h3>
        </div>
      </div>

      <section class="section--snippets spacer">
        <div class="flex--horizontal">
          <div class="snippets__cards flex--vertical">
            <div class="snippets__card flex--horizontal">
              <p>PeakD Website
                <small>PeakD main website status and availability</small>
              </p>
              <service-status :status="peakdWebsite" :details="peakdWebsiteDetails"></service-status>
            </div>

            <div class="snippets__card flex--horizontal">
              <p>PeakD API
                <small>PeakD API and database status</small>
              </p>
              <service-status :status="peakdApi" :details="peakdApiDetails"></service-status>
            </div>

            <div class="snippets__card flex--horizontal">
              <p>PeakD Backend
                <small>The node that handle post scheduling, witness monitor and post promotion services</small>
              </p>
              <service-status :status="peakdNode" :details="peakdNodeDetails"></service-status>
            </div>

            <div class="snippets__card flex--horizontal">
              <p>PeakD IPFS
                <small>Decentralized version of PeakD available on IPFS at <a href="https://ipfs.peakd.com" target="_blank" rel="noopener" class="font-success">ipfs.peakd.com</a></small>
              </p>
              <service-status :status="true"></service-status>
            </div>

            <div class="snippets__card flex--horizontal">
              <p>PeakD Hivemind Plugin
                <small>PeakD Hivemind plugin nodes power some exclusive features as account lists and favorites</small>
              </p>
              <service-status :status="peakdHivemind" :details="peakdHivemindDetails"></service-status>
            </div>

            <div class="snippets__card flex--horizontal">
              <p>Cloudflare
                <small>CDN (Content Delivery Network) used to speed up PeakD page load</small>
              </p>
              <service-status :status="peakdCdn"></service-status>
            </div>

            <div class="snippets__card flex--horizontal">
              <p>Hive API/RPC Nodes
                <small>
                  Hive API and RPC nodes used to retrieve data and cast transactions.
                  <br>
                  For additional details and stats check <a href="https://beacon.peakd.com/" target="_blank" rel="noopener" class="font-success">this page</a>
                </small>
              </p>
              <div>
                <h3 v-if="!hiveNodes">...</h3>
                <h5 v-else>
                  <span v-for="node in hiveNodes" :class="node.success ? 'font-success' : 'font-danger'" style="display: block; margin-top: 2px; margin-bottom: 2px;">{{ node.label }}</span>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="mountains-bg">
        <div class="mountain">
          <div class="mountain-top">
            <div class="mountain-cap-1"></div>
            <div class="mountain-cap-2"></div>
            <div class="mountain-cap-3"></div>
          </div>
        </div>
        <div class="mountain-two">
          <div class="mountain-top">
            <div class="mountain-cap-1"></div>
            <div class="mountain-cap-2"></div>
            <div class="mountain-cap-3"></div>
          </div>
        </div>
        <div class="mountain-three">
          <div class="mountain-top">
            <div class="mountain-cap-1"></div>
            <div class="mountain-cap-2"></div>
            <div class="mountain-cap-3"></div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      const peakdEndpoint = window.location.hostname.startsWith('localhost') ? 'http://localhost:9000' : 'https://peakd.com';
      const peakdHiveEndpoint ='https://hive-data.peakd.com/';
      const cloudflareEndpoint = 'https://yh6f0r4529hb.statuspage.io/api/v2/status.json';
      const hiveUrls = [
        { name: 'api.hive.blog', url: 'https://api.hive.blog', label: 'api.hive.blog' },
        { name: 'api.openhive.network', url: 'https://api.openhive.network', label: 'api.openhive.network' },
        { name: 'hive.roelandp.nl', url: 'https://hive.roelandp.nl', label: 'hive.roelandp.nl' },
      ];

      window.onload = function() {
        Vue.config.devtools = true

        Vue.component('service-status', {
          props: ['status', 'details'],
          template: `
            <div>
              <h3 v-if="status === null">...</h3>
              <h3 v-else-if="status" class="font-success">UP<small v-if="details">({{ details }})</small></h3>
              <h3 v-else class="font-danger">DOWN</h3>
            </div>
          `
        })

        new Vue({
          el: '#main',
          data: {
            peakdWebsite: null,
            peakdWebsiteDetails: null,
            peakdApi: null,
            peakdApiDetails: null,
            peakdNode: null,
            peakdNodeDetails: null,
            peakdHivemind: null,
            peakdHivemindDetails: null,
            peakdCdn: null,
            hiveNodes: null,
          },
          mounted: function () {
            console.log('Status page mounted')

            this.refresh()
          },
          methods: {
            reset () {
              peakdWebsite = null;
              peakdWebsiteDetails = null;
              peakdApi = null;
              peakdApiDetails = null;
              peakdNode = null;
              peakdNodeDetails = null;
              peakdHivemind = null;
              peakdHivemindDetails = null;
              peakdCdn = null;
              hiveNodes = null;
            },
            async refresh () {
              this.reset();

              axios.get(`${peakdEndpoint}/actuator/info`).then(response => {
                console.log(response);
                this.peakdWebsite = response && response.data && response.data.app;
                this.peakdWebsiteDetails = `Ver ${(response && response.data && response.data.app && response.data.app.version) || '?'}`;
              }).catch(error => {
                console.error(error);
                this.peakdWebsite = false;
              });

              let startTime = new Date()
              axios.get(`${peakdEndpoint}/api/public/status/monitor`).then(response => {
                console.log(response);
                this.peakdApi = true;
                this.peakdApiDetails = `${(new Date()).getTime() - startTime.getTime()} ms`
              }).catch(error => {
                console.error(error);
                this.peakdApi = false;
              });

              axios.get(`${peakdEndpoint}/api/public/status/monitor`).then(response => {
                console.log(response);
                this.peakdNode = true;
                this.peakdNodeDetails = `Blk ${response.data.value || '?'}`
              }).catch(error => {
                console.error(error);
                this.peakdNode = false;
              });

              axios.get(peakdHiveEndpoint).then(response => {
                console.log(response);
                this.peakdHivemind = true;
                this.peakdHivemindDetails = `Ver ${response.data.version || '?'}`
              }).catch(error => {
                console.error(error);
                this.peakdHivemind = true;
              });

              axios.get(cloudflareEndpoint).then(response => {
                console.log(response);

                this.peakdCdn = response && response.data && response.data.status && (response.data.status.indicator === 'none' || response.data.status.indicator === 'minor');
              }).catch(error => {
                console.error(error);
                this.peakdCdn = false;
              });

              let hiveResults = {};
              for (let node of hiveUrls) {
                console.log('Checking node: ' + node.url);

                let results = []
                try {
                  hive.api.setOptions({ url: node.url });
                  results.push(await hive.api.getDynamicGlobalPropertiesAsync());
                  results.push(await hive.api.getAccountsAsync(['peakd']));
                  results.push(await await hive.api.getWitnessesByVoteAsync('', 20));
                  hiveResults[node.name] = {
                    success: true,
                    label: node.label,
                    results: results
                  };
                } catch (error) {
                  hiveResults[node.name] = {
                    success: false,
                    label: node.label
                  };
                }
              }
              this.hiveNodes = hiveResults;
            }
          }
        });
      };
    </script>
  </body>
</html>
